
.DS_Store
.AppleDouble
.LSOverride

Icon


._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch


*.so
*.dylib
*.dll


*.mod
*.smod


*.lai
*.la
*.a
*.lib


*.exe
*.out
*.app




